<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCieodHLKQLk91_3QSKtErwyKQqAgFaTBs</string>
	<key>GCM_SENDER_ID</key>
	<string>939905387852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>been004.net.user.receiptOCR</string>
	<key>PROJECT_ID</key>
	<string>receiptocr-74465</string>
	<key>STORAGE_BUCKET</key>
	<string>receiptocr-74465.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:939905387852:ios:c790d9db8336a058bf53e9</string>
</dict>
</plist>
